<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>722027261200-ujjfq9ha8cq75jss6jro2aek2ji7e6q5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.722027261200-ujjfq9ha8cq75jss6jro2aek2ji7e6q5</string>
	<key>API_KEY</key>
	<string>AIzaSyAX57OElfBwW2WQw70BEJuYzLMbegoxu7g</string>
	<key>GCM_SENDER_ID</key>
	<string>722027261200</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.labAss3</string>
	<key>PROJECT_ID</key>
	<string>labass3-6ba68</string>
	<key>STORAGE_BUCKET</key>
	<string>labass3-6ba68.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:722027261200:ios:d7e0c11a05c868f31a0995</string>
</dict>
</plist>